# flyctl launch added from .idea/.gitignore
# Default ignored files
.idea/shelf
.idea/workspace.xml

# flyctl launch added from venv/.gitignore
# created by virtualenv automatically
venv/**/*
fly.toml
